config.js
Simple_Map/js/config.js
Mapping_Single_Points/js/config.js
Mapping_Multi_Points/js/config.js
Mapping_Lines/js/config.js
Mapping_GeoJSON_Points/js/config.js
Mapping_GeoJSON_LineStrings/js/config.js
Mapping_GeoJSON_Polygons/js/config.js
